.App {

     box-sizing: border-box;
     
}


.App-header {
  background-color: #1d1d1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.Quote-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
